PerfFeedback.Client/Service References/PerfLocal/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://perf.com/perf" />
  <xs:element name="AddCoWorker">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://perf.com/perf" minOccurs="0" name="coWorker" nillable="true" type="q1:CoWorker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCoWorkerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://perf.com/perf" minOccurs="0" name="AddCoWorkerResult" nillable="true" type="q2:CoWorker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCoWorker">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://perf.com/perf" minOccurs="0" name="coWorker" nillable="true" type="q3:CoWorker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCoWorkerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://perf.com/perf" minOccurs="0" name="UpdateCoWorkerResult" nillable="true" type="q4:CoWorker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoWorker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="coWorkerId" type="xs:long" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoWorkerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://perf.com/perf" minOccurs="0" name="GetCoWorkerResult" nillable="true" type="q5:CoWorker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://perf.com/perf" minOccurs="0" name="workItem" nillable="true" type="q6:WorkItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://perf.com/perf" minOccurs="0" name="AddWorkItemResult" nillable="true" type="q7:WorkItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://perf.com/perf" minOccurs="0" name="workItem" nillable="true" type="q8:WorkItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://perf.com/perf" minOccurs="0" name="UpdateWorkItemResult" nillable="true" type="q9:WorkItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workItemId" type="xs:long" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://perf.com/perf" minOccurs="0" name="GetWorkItemResult" nillable="true" type="q10:WorkItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCoWorkers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCoWorkersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://perf.com/perf" minOccurs="0" name="GetAllCoWorkersResult" nillable="true" type="q11:ArrayOfCoWorker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>