PerfFeedback/Service References/PerfLocal/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CoWorkerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://perf.com/perf" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICoWorkerService_AddCoWorker_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCoWorker" />
  </wsdl:message>
  <wsdl:message name="ICoWorkerService_AddCoWorker_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCoWorkerResponse" />
  </wsdl:message>
  <wsdl:message name="ICoWorkerService_UpdateCoWorker_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCoWorker" />
  </wsdl:message>
  <wsdl:message name="ICoWorkerService_UpdateCoWorker_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCoWorkerResponse" />
  </wsdl:message>
  <wsdl:message name="ICoWorkerService_GetCoWorker_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCoWorker" />
  </wsdl:message>
  <wsdl:message name="ICoWorkerService_GetCoWorker_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCoWorkerResponse" />
  </wsdl:message>
  <wsdl:portType name="ICoWorkerService">
    <wsdl:operation name="AddCoWorker">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoWorkerService/AddCoWorker" message="tns:ICoWorkerService_AddCoWorker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoWorkerService/AddCoWorkerResponse" message="tns:ICoWorkerService_AddCoWorker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCoWorker">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoWorkerService/UpdateCoWorker" message="tns:ICoWorkerService_UpdateCoWorker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoWorkerService/UpdateCoWorkerResponse" message="tns:ICoWorkerService_UpdateCoWorker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCoWorker">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoWorkerService/GetCoWorker" message="tns:ICoWorkerService_GetCoWorker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoWorkerService/GetCoWorkerResponse" message="tns:ICoWorkerService_GetCoWorker_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICoWorkerService" type="tns:ICoWorkerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCoWorker">
      <soap:operation soapAction="http://tempuri.org/ICoWorkerService/AddCoWorker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCoWorker">
      <soap:operation soapAction="http://tempuri.org/ICoWorkerService/UpdateCoWorker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCoWorker">
      <soap:operation soapAction="http://tempuri.org/ICoWorkerService/GetCoWorker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CoWorkerService">
    <wsdl:port name="BasicHttpBinding_ICoWorkerService" binding="tns:BasicHttpBinding_ICoWorkerService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/PerfFeedbackService/CoWorkerService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>